/* black, white, dark, gray */
$black: #182434;
$white: #fefefe;

$dark: #2C3E50;
$dark-lg: #34495E;
$dark-lw: #7F8C8D;
$dark-ls: #95A5A6;

$gray: #BDC3C7;
$gray-lg: #ECF0F1;
$gray-lw: #effef7;
$gray-ls: #f0f9fe;

/* rainbow */
$red: #C0392B;
$red-lg: #E74C3C;
$orange: #D35400;
$orange-lg: #E67E22;
$yellow: #F39C12;
$yellow-lg: #F1C40F;
$green: #27AE60;
$green-lg: #2ECC71;
$sea: #16A085;
$sea-lg: #1ABC9C;
$cyan: #1e90ff;
$cyan-lg: #70a1ff;
$blue: #2980B9;
$blue-lg: #3498DB;
$purple: #8E44AD;
$purple-lg: #9B59B6;
$pink: #f368e0;
$pink-lg: #ff9ff3;

/* description */
$link: #3742fa;
$hover: #5352ed;
$border: #d3dce6;
 
 /* rainbow-sup */
$indigo: #82589F;
$indigo-lg: #D6A2E8;
$brown: #6F1E51;
$brown-lg: #833471;

 /* indicator color */
$brand: #2aaeff;
$positive: #1dbf71;
$warning: #feb64e;
$negative: #eb4d5c;

// main color
$main: #2f3542;
$sec: $dark;
$sup: $dark-lg;
$inc: $dark-ls;

$link: $blue;
$hover: $blue-lg;

$boder: $gray-lw;

// Option: 2
// @for $i from 1 to legth($case-key) +1 {}
// https://segmentfault.com/q/1010000018728137
// https://www.iviewui.com/components/font

// Color matrix
// Option: 1
// @each $key, $value in $case-array
// https://www.sasscss.com/documentation/at-rules/control/each
$hue-red: #f43f3b;
$hue-orange: #ff9700;
$hue-yellow: #f0c000;
$hue-green: #39b54a;
$hue-cyan: #1cbbb4;
$hue-blue: #0078ff;
$hue-purple: #5e00ff;
$hue-indigo: #4B0082;
$hue-brown: #a86048;
$hue-pink: #f54291;

// Various style
// https://designmodo.github.io/Flat-UI/
// https://www.zcool.com.cn/article/ZNzc2OTI4.html
$apple-red: #ff3b30;
$apple-orange: #ff9500;
$apple-yellow: #ffcc00;
$apple-green: #4cd964;
$apple-cyan: #5ac8fa;
$apple-blue: #007aff;
$apple-purple: #5856d6;
$apple-pink: #ff3d55;
$apple-black: #04040f;
$apple-white: #fefefe;

$true-red: #ff0000;
$true-orange: #ffa500;
$true-yellow: #ffff00;
$true-green: #008000;
$true-cyan: #00ffff;
$true-blue: #0000ff;
$true-purple: #800880;
$true-indigo: #4b0082;
$true-pink: #ff9ed1;
$true-black: #000000;
$true-gray: #808080;
$true-white: #ffffff;

$color-red: #e74c3c;
$color-orange: #f39c12;
$color-yellow: #f1c40f;
$color-green: #2ecc71;
$color-emerald: #1abc9c;
$color-cyan: $color-emerald;
$color-blue: #3498db;
$color-purple: #8e44ad;
$color-pink: $true-pink;
$color-black: #2c3e50;
$color-gray: #ecf0f1;
$color-gray-1: #bdc3c7;
$color-brown: #95a5a6;
$color-white: $true-white;

// kvin koloro list.
// $white-black-list: #fafafb #ccd0d4 #66717d #334151 #001226;
// $red-list: #fde3e3 #f78483 #e4100e #a40c0a #640706;
// $orange-list: #feebeb #fbb68f #f6610c #b74707 #762e04;
// $green: #e7f7e8 #8cda93 #36a93f #26762c #154219;
// $blue-list: #ecf5ff #66acfd #0366d8 #024695 #012752;
// $purple-list: #f6eefd #dbc0f9 #9544ed #7215d8 #520f9a;
// $pink: #fdeef4 #facfe2 #ed5497 #e51872 #a81253;