// pri font-family.

// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$lang-baza: -apple-system, BlinkMacSystemFont, Oxygren, Cantarell, 'system-ui', 'Roboto Mono', Roboto !default;

$lang-hans: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', $lang-baza!default;
$lang-hant: 'PingFang TC', 'Hiragino Sans CNS', 'Microsoft JhengHei', $lang-baza!default;
$lang-japan: 'Hiragino Sans', 'Hiragino KaKu Gothic Pro', 'Yu Gothic', YuGothic, Meiryo $lang-baza!default;
$lang-korea: 'Malgun Gothic', $lang-baza!default;
$lang-english: $lang-baza, 'Segoe UI', Menlo, Courier, monospace!default;

// family style
$Kai: KaiTi, SimKaiti, $lang-baza!default;