@charset "UTF-8";
:lang(en) {
  font-family: "system-ui", -apple-system, BlinkMacSystemFont, Oxygen, Cantarell, Ubuntu, "Roboto Mono", Roboto, "Segoe UI", Menlo, Courier, monospace; }

:lang(zh-cmn-Hans) {
  font-family: "system-ui", -apple-system, BlinkMacSystemFont, Oxygen, Cantarell, Ubuntu, "Roboto Mono", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei"; }

:lang(zh-cmn-Hant) {
  font-family: "system-ui", -apple-system, BlinkMacSystemFont, Oxygen, Cantarell, Ubuntu, "Roboto Mono", Roboto, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei"; }

.red {
  background-color: #f43f3b;
  color: #f9f9f9; }
  .red:hover {
    background-color: #d6211d; }

.gold,
.orange {
  background-color: #ff9700;
  color: #f9f9f9; }
  .gold:hover,
  .orange:hover {
    background-color: #e17900; }

.yellow {
  background-color: #f0c000;
  color: #f9f9f9; }
  .yellow:hover {
    background-color: #d2a200; }

.green {
  background-color: #39b54a;
  color: #f9f9f9; }
  .green:hover {
    background-color: #1b972c; }

.cyan,
.teal {
  background-color: #1cbbb4;
  color: #f9f9f9; }
  .cyan:hover,
  .teal:hover {
    background-color: #009d96; }

.blue {
  background-color: #0078ff;
  color: #f9f9f9; }
  .blue:hover {
    background-color: #005ae1; }

.violet,
.purple {
  background-color: #5e00ff;
  color: #f9f9f9; }
  .violet:hover,
  .purple:hover {
    background-color: #4000e1; }

.pink {
  background-color: #f54291;
  color: #f9f9f9; }
  .pink:hover {
    background-color: #d72473; }

.brown {
  background-color: #a86048;
  color: #f9f9f9; }
  .brown:hover {
    background-color: #8a422a; }

.black {
  background-color: #303030;
  color: #f9f9f9; }
  .black:hover {
    background-color: #121212; }

.white {
  background-color: #f9f9f9;
  color: #303030; }
  .white:hover {
    background-color: #dbdbdb; }

.gray {
  background-color: #d8d8d8;
  color: #f9f9f9; }
  .gray:hover {
    background-color: #bababa; }

body {
  margin: 0 auto;
  color: #303030;
  font-size: 0.9rem; }

.h1, .h2, .h3, .h4,
h1, h2, h3, h4 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.9rem; }

.h5, .h6,
h5, h6 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.9rem; }

.h1,
h1 {
  font-size: 2.1rem; }

.h2,
h2 {
  font-size: 1.8rem; }

.h3,
h3 {
  font-size: 1.5rem; }

.h4,
h4 {
  font-size: 1.2rem; }

.h5,
h5 {
  font-size: 0.9rem; }

.h6,
h6 {
  font-size: 0.6rem; }

p {
  margin-top: 0;
  margin-bottom: 0.9rem; }

b,
strong {
  font-weight: 700; }

s,
del,
strike {
  text-decoration: line-through; }

kbd {
  color: #f9f9f9;
  padding: .3rem;
  border-radius: .2rem;
  background-color: #303030; }
  kbd:hover {
    background-color: #4e4e4e; }

mark {
  color: #303030;
  background-color: #f0c000;
  border-bottom: 1px solid #d2a200;
  border-radius: .2rem;
  padding: 0 .2rem; }
  mark:hover {
    color: #4e4e4e;
    background-color: #ffde1e; }

.code {
  color: #f9f9f9;
  background-color: #0078ff;
  border-radius: .2rem;
  padding: .3rem .6rem; }

code {
  color: #0078ff;
  font-family: "system-ui", -apple-system, BlinkMacSystemFont, Oxygen, Cantarell, Ubuntu, "Roboto Mono", Roboto, "Segoe UI", Menlo, Courier, monospace;
  background-color: #5ad2ff;
  border: 1px solid #0078ff;
  border-radius: .2rem;
  padding: .1rem .3rem; }

ruby rt {
  color: #9c9c9c; }

sub,
sup {
  color: #9c9c9c; }

time {
  color: #f9f9f9;
  background-color: #1cbbb4;
  border: 0.1rem solid #009d96;
  border-radius: .2rem;
  padding: .3rem .6rem .3rem .3rem; }
  time::before {
    content: '⏳ '; }
  time:hover {
    background-color: #009d96; }

.bn,
button {
  border-style: none;
  color: #f9f9f9;
  background-color: #303030;
  border: 1px solid #000000;
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: .6rem .9rem;
  border-radius: .2rem;
  white-space: nowrap;
  margin: .1rem;
  line-break: normal;
  display: inline-block;
  outline: 0; }
  .bn:focus, .bn:hover,
  button:focus,
  button:hover {
    background-color: #4e4e4e; }
  .bn:active,
  button:active {
    background-color: #000000;
    border-color: #f0c000; }

table {
  width: 100%;
  font-size: 1rem;
  text-align: left;
  line-height: 1.8rem;
  background-color: #ffffff;
  border: 0.1rem solid #f0f0f0;
  border-spacing: 0;
  border-radius: .3rem;
  padding: .1rem;
  color: #303030; }
  table thead tr th {
    font-weight: 600;
    background-color: #e3e7f1; }
    table thead tr th:first-child {
      border-radius: .3rem 0 0 0; }
    table thead tr th:last-child {
      border-radius: 0 .3rem 0 0; }
  table tbody tr td {
    border-bottom: 0.1rem solid #f0f0f0; }
  table tbody tr:nth-child(2n) {
    background-color: #f9f9f9; }
    table tbody tr:nth-child(2n):hover {
      background-color: #eaeaea; }
  table tfoot tr th {
    font-weight: 500; }
  table tr:hover {
    background-color: #eaeaea; }
    table tr:hover:focus {
      background-color: #dbdbdb; }
  table td,
  table th {
    padding: .6rem .3rem; }
  table[class*="space-line"] {
    white-space: nowrap; }
  table[class*="cell"] td,
  table[class*="cell"] th {
    border-left: 0.1rem solid #f0f0f0; }
    table[class*="cell"] td:first-child,
    table[class*="cell"] th:first-child {
      border-left: none; }

.container {
  margin: 0 1.2rem; }

.em {
  width: auto;
  height: 5vh;
  padding: 1vh 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 1rem;
  background-color: #bababa;
  -webkit-column-rule: 1px solid #39b54a; }
  .em .column {
    background-color: #f6f6f6;
    height: 3vh; }

.fenestro,
.window,
.modld,
.bomb,
.ska {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center; }
  .fenestro .kurteno,
  .fenestro .fono,
  .fenestro .bg,
  .window .kurteno,
  .window .fono,
  .window .bg,
  .modld .kurteno,
  .modld .fono,
  .modld .bg,
  .bomb .kurteno,
  .bomb .fono,
  .bomb .bg,
  .ska .kurteno,
  .ska .fono,
  .ska .bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #303030;
    opacity: .3;
    cursor: not-allowed; }
  .fenestro .work,
  .window .work,
  .modld .work,
  .bomb .work,
  .ska .work {
    z-index: 999;
    position: fixed;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    padding: .6rem; }
  .fenestro:target,
  .window:target,
  .modld:target,
  .bomb:target,
  .ska:target {
    display: flex; }
