// Koloro scss

$red: #f01b2d;
$orange: #fdb933;
$yellow: #ede387;
$green: #008573;
$dark: #87C4ED;
$blue: #495A80;
$purple: #6f599c;
$black: #0f0f0f;
$white: #f9f9f9;
$gray: #e0e0e0;

$math: #111111;

$W: 120px;
$H: 30px;

.piece{  width: $W;  height: $H;}
.red{background:$red;}
.red:hover{background:$red - $math;}
.orange{background: $orange;}
.orange:hover{background: $orange - $math;}
.yellow{background: $yellow;}
.yellow:hover{background: $yellow - $math;}
.green{background: $green;}
.green:hover{background: $green - $math;}
.dark{background: $dark;}
.dark:hover{background: $dark - $math;}
.blue{background: $blue;}
.blue:hover{background: $blue - $math;}
.purple{background: $purple;}
.purple:hover{background: $purple - $math;}
.black{background: $black;}
.black:hover{background: $black - $math;}
.white{background: $white;}
.white:hover{background: $white - $math;}
.gray{background: $gray;}
.gray:hover{background: $gray - $math;}


