.piece {
  width: 120px;
  height: 30px; }

.red {
  background: #f01b2d; }

.red:hover {
  background: #df0a1c; }

.orange {
  background: #fdb933; }

.orange:hover {
  background: #eca822; }

.yellow {
  background: #ede387; }

.yellow:hover {
  background: #dcd276; }

.green {
  background: #008573; }

.green:hover {
  background: #007462; }

.dark {
  background: #87C4ED; }

.dark:hover {
  background: #76b3dc; }

.blue {
  background: #495A80; }

.blue:hover {
  background: #38496f; }

.purple {
  background: #6f599c; }

.purple:hover {
  background: #5e488b; }

.black {
  background: #0f0f0f; }

.black:hover {
  background: black; }

.white {
  background: #f9f9f9; }

.white:hover {
  background: #e8e8e8; }

.gray {
  background: #e0e0e0; }

.gray:hover {
  background: #cfcfcf; }
