:root{
  --main: var(--black);  /* font-color, header */
  --sec: var(--dark); /* selected */
  --sup: var(--dark-lg); /* description */
  --inc: var(--dark-ls); /* prohibit */

  /* black, white, dark, gray */
  --black: #182434;
  --white: #fefefe;

  --dark: #2C3E50;
  --dark-lg: #34495E;
  --dark-lw: #7F8C8D;
  --dark-ls: #95A5A6;

  --gray: #BDC3C7;
  --gray-lg: #ECF0F1;
  --gray-lw: #effef7;
  --gray-ls: #f0f9fe;

  /* rainbow */
  --red: #C0392B;
  --red-lg: #E74C3C;
  --orange: #D35400;
  --orange-lg: #E67E22;
  --yellow: #F39C12;
  --yellow-lg: #F1C40F;
  --green: #27AE60;
  --green-lg: #2ECC71;
  --sea: #16A085;
  --sea-lg: #1ABC9C;
  --cyan: #1e90ff;
  --cyan-lg: #70a1ff;
  --blue: #2980B9;
  --blue-lg: #3498DB;
  --purple: #8E44AD;
  --purple-lg: #9B59B6;
  --pink: #f368e0;
  --pink-lg: #ff9ff3;

  /* description */
  --link: #3742fa;
  --hover: #5352ed;
  --border: #d3dce6;

  
  /* rainbow-sup */
  --indigo: #82589F;
  --indigo-lg: #D6A2E8;
  --brown: #6F1E51;
  --brown-lg: #833471;

  /* indicator color */
  --brand: #2aaeff;
  --positive: #1dbf71;
  --warning: #feb64e;
  --negative: #eb4d5c;

  /* size */
  --h1: 2.4rem;
  --h2: 2.1rem;
  --h3: 1.8rem;
  --h4: 1.5rem;
  --h5: 1.2rem;
  --bold: 600;
  --medium: 500;
}