body{
  margin: 0 auto;
  color: $black;
  font-size: $font-size;
}

.h1,.h2,.h3,.h4,
h1,h2,h3,h4{
  font-weight: 500;
  margin-top: 0;
  margin-bottom: $font-size;
}
.h5,.h6,
h5,h6{
  font-weight: 600;
  margin-top: 0;
  margin-bottom: $font-size;
}

.h1,
h1{
  font-size: $h1;
}
.h2,
h2{
  font-size: $h2;
}
.h3,
h3{
  font-size: $h3;
}
.h4,
h4{
  font-size: $h4;
}
.h5,
h5{
  font-size: $h5;
}
.h6,
h6{
  font-size: $h6;
}

p{
  margin-top: 0;
  margin-bottom: $font-size;
}
span{}

abbr{}
b,
strong{
  font-weight: 700;
}
i,
em,
cite{}
s,
del,
strike{
  text-decoration: line-through;
}
u,
ins{}
kbd{
  color: $white;
  padding: .3rem;
  border-radius: .2rem;
  background-color: $black;
  &:hover{
    background-color: $black + 30%;
  }
}
mark{
  color: $black;
  background-color: $yellow;
  border-bottom: 1px solid $yellow - 30%;
  border-radius: .2rem;
  padding: 0 .2rem;
  &:hover{
    color: $black + 30%;
    background-color: $yellow + 30%;
  }
}
.code{
  color: $white;
  background-color: $blue;
  border-radius: .2rem;
  padding: .3rem .6rem;
}
code{
  color: $blue;
  font-family: $lang-en;
  background-color: $blue + 90%;
  border: 1px solid $blue;
  border-radius: .2rem;
  padding: .1rem .3rem;
}
ruby{
  rt{
    color: $gray - 60%;
  }
}
samp{}
sub,
sup{
  color: $gray - 60%;
}
time{
  color: $white;
  background-color: $teal;
  border: .1rem solid $teal - 30%;
  border-radius: .2rem;
  padding: .3rem .6rem .3rem .3rem;
  &::before{
    content: '⏳ ';
  }
  &:hover{
    background-color: $teal - 30%;
  }
}

// button
.bn,
button{
  border-style: none;
  color: $white;
  background-color: $black;
  border: 1px solid #000000;
  font-size: $font-size;
  line-height: $font-size;
  padding: .6rem .9rem;
  border-radius: .2rem;
  white-space: nowrap;
  margin: .1rem;
  line-break: normal;
  display: inline-block;
  outline: 0;
  &:focus,
  &:hover{
    background-color: $black + 30%;
  }
  &:active{
    background-color: #000000;
    border-color: $yellow;
  }
}