// color
$red: #c70851;
$yellow: #fdb933;
$blue: #2a5cca;
$blue-ii: #495a80;
$green: #008573;
$teal: #ddf0ed;
$purple: #6f599c;

$pink: #fdd3e1;

$black: #303030;
$gray: #e0e0e0;
$white: #f9f9f9;

$num: #111111;