// navigado & menuo

// navigado
// fixed, pull.
.nav-grid{
  width: 100%;
  min-height: 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .nav-bl{
    font-size: 1rem; // tmp
    .logo{}
    .item{
      font-size: 1rem; //tmp
    }
    a{
      text-decoration: none;
      color: $dark;
      &:hover{color: $dark * 2;}
    }
    &:nth-child(2n){text-align: center;}
    &:nth-child(3n){text-align: right;}
  }
}

.nav-flex{
  width: 100%;
  min-height: 3rem;

  display: flex;
  .nav-bl{
    font-size: 1rem; //tmp
    .item{
      font-size: 1rem; //tmp
    }
    a{
      text-decoration: none;
      color: $dark;
      &:hover{color: $dark * 2;}
    }
  }
}

// menuo
.menuo{}

// app-bar
// bar-ball, bar-input.
.bar{
  .item{
    float: left;
  }
  a{
    text-decoration: none;
  }
}