// reset fundamental element.
body{
  margin: 0 auto;
  font-size: 1rem;
}

// head
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
.h1,.h2,.h3,.h4,.h5,.h6{
  font-weight: 500;
}

h1,.h1{
  font-size: 2.1rem;
}
h2,.h2{
  font-size: 1.8rem;
}
h3,.h3{
  font-size: 1.5rem;
}
h4,.h4{
  font-size: 1.2rem;
}
h5,.h5{
  font-size: .9rem;
}
h6,.h6{
  font-size: .6rem;
}

// test: zh-s-t cjk en ar-il-ru, int.
span{}

// 转移至 @import "test";
.int{}

// 转移到 @improt "lang";
.ru{}

.il
.ar{}

// tag
abbr{}

b,
strong{}

cite{}

i,
em{}

s,
del{}

u,
ins{}

kbd{}

mark{}

ruby{}
ruby rt{
  color: #90989f;
}

sup{}
sub{}

code{}
time{}
var{}

// list
ul,
ol{
  padding: 0;
}
li{}

dl{
  font-weight: bold;
}
dt{}