// size
$nula: .9rem;
$xs: .3rem;
$sm: .6rem;
$md: 1.2rem;
$xl: 1.8rem;
$sl: 2.1rem;

// screen size
$sr-ipad: 768px;
$sr-ipse: 320px;
$sr-ip6: 375px;
$sr-ip6p: 414px;
$sr-ipx:375px;
$sr-ipad-pro: 1024px;
$sr-800: 800px;
$sr-1024: 1024px;
$sr-full: 1920px;

// font-size
// element-size
// color
$bg:;

// lang
$lang-hans: -apple-system, system-ui!default;
$lang-hant: -apple-system, system-ui!default;
$lang-jp: -apple-system, system-ui!default;
$lang-kr: -apple-system, system-ui!default;
$lang-en: -apple-system, system-ui!default;
$lang-ru: $lang-en!default;
$lang-fr: $lang-en!default;
$lang-ar: $lang-en!default;