// font-size
$h1: 3.8rem;
$h2: 3.3rem;
$h3: 2.5rem;
$h4: 1.81rem;
$h5: 1.75rem;
$h6: 1.5rem;

$font-size: 1.125rem;
$font-samll: .81rem;

// screen size
$sr-se: 320px;
$sr-678: 375px;
$sr-regular: 375px;
$sr-max: 414px;
$sr-ipx: 375;
$sr-ipad: 768px;
$sr-hdtv: 1080px;
$screen: $sr-max;

// element-size
$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10: 83.33%;
$col-11: 91.66%;
$col-12: 100%;

// color
// http://designmodo.github.io/Flat-UI/
// https://www.zcool.com.cn/article/ZNzc2OTI4.html
// https://zh.wikipedia.org/wiki/%E5%BD%A9%E8%99%B9
$apple-red: #ff3b30;
$apple-orange: #ff9500;
$apple-yellow: #ffcc00;
$apple-green: #4cd964;
$apple-cyan: #5ac8fa;
$apple-blue: #007aff;
$apple-purple: #5856d6;
$apple-pink: #ff3d55;
$apple-black: #04040f;
$apple-white: #fefefe;

$true-red: #ff0000;
$true-orange: #ffa500;
$true-yellow: #ffff00;
$true-green: #008000;
$true-cyan: #00ffff;
$true-blue: #0000ff;
$true-purple: #800880;
$true-indigo: #4b0082;
$true-pink: #ff9ed1;
$true-black: #000000;
$true-gray: #808080;
$true-white: #ffffff;

$color-red: #e74c3c;
$color-orange: #f39c12;
$color-yellow: #f1c40f;
$color-green: #2ecc71;
$color-emerald: #1abc9c;
$color-cyan: $color-emerald;
$color-blue: #3498db;
$color-purple: #8e44ad;
$color-pink: $true-pink;
$color-black: #2c3e50;
$color-gray: #ecf0f1;
$color-gray-1: #bdc3c7;
$color-brown: #95a5a6;
$color-white: $true-white;

$red: #f43f3b;
$orange: #ff9700;
$yellow: #f0c000;
$green: #39b54a;
$cyan: #1cbbb4;
$blue: #0078ff;
$purple: #5e00ff;
$indigo: #4B0082;
$pink: #f54291;
$brown: #a86048;
$black: #34495e;
$white: #f9f9f9;
$gray: #ecf0f1;

$font-color: #34495e;
$table-bg: #f9f9f9;
$table-bd-color: #f0f0f0;

// language set.
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
// https://picturepan2.github.io/spectre/
$lang-sys-win: 'system-ui'!default;
$lang-sys-apple: -apple-system, BlinkMacSystemFont!default;
$lang-sys-linux: Oxygen, Cantarell, Ubuntu!default;
$lang-sys-android: 'Roboto Mono', Roboto!default;

$lang-basis: $lang-sys-win, $lang-sys-apple, $lang-sys-linux, $lang-sys-android!default;

$lang-hans: $lang-basis, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei'!default;
$lang-hant: $lang-basis, 'PingFang TC', 'Hiragino Sans CNS', 'Microsoft JhengHei'!default;
$lang-jp: $lang-basis, 'Hiragino Sans', 'Hiragino KaKu Gothic Pro', 'Yu Gothic', YuGothic, Meiryo!default;
$lang-kr: $lang-basis, 'Malgun Gothic'!default;
$lang-en: $lang-basis, 'Segoe UI', Menlo, Courier, monospace!default;
$lang-fr: null;
$lang-ru: null;
$lang-r2l: null;

// CJK
$lang-cjk: $lang-basis, $lang-hans!default;
$lang-cjk-old: $lang-basis, $lang-hant !default;
$lang-cjk-jp: $lang-basis, $lang-jp!default;
$lang-cjk-kr: $lang-basis, $lang-kr!default;
// 字母方式
$lang-abc: $lang-basis, $lang-en!default;
$lang-abc-alpha: $lang-basis, $lang-fr!default;
$lang-abc-sign: $lang-basis, $lang-ru!default;
// 右起左书
$lang-wr: $lang-basis, $lang-r2l!default;

// 字定义语言
$sp: KaiTi, SimKaiti!default;
$lang-sp: $sp, $lang-basis!default;