// size
$nula: .9rem;
$xs: .3rem;
$sm: .6rem;
$md: 1.2rem;
$xl: 1.8rem;
$sl: 2.1rem;

// screen size
$sr-max: 480px;
$sr-se: 320px;
$sr-678: 375px;
$sr-678p: 414px;
$sr-x: $sr-678;
$sr-ipad: 768px;
$sr-ipad: 1024px;
$sr-web: 1296px;
$sr-air: 1280px;
$sr-hdtv: 1920px;
$sr-max: $sr-hdtv;

// font-size
$h1: 2.1rem;
$h2: 1.8rem;
$h3: 1.5rem;
$h4: 1.2rem;
$h5: .9rem;
$h6: .6rem;
$fz: $h5;
$fz-big: $h4;
$font-size: $h5;

// element-size
// color
// https://www.zcool.com.cn/article/ZNzc2OTI4.html
// apple-ui color.
$red: #ff3b30;
$orange: #ff9500;
$yellow: #ffcc00;
$green: #4cd964;
$teal: #5ac8fa;
$blue: #007aff;
$purple: #5856d6;
$pink: #ff3d55;
$gray: #e0e0e0;
$black: #04040f;
$white: #f9f9f9;

// dark color.
$dark-red: #c70851;
$dark-yellow: #fdb933;
$dark-blue: #2a5cca;
$dark-blue-ii: #495a80;
$dark-green: #008573;
$dark-teal: #ddf0ed;
$dark-purple: #6f599c;
$dark-pink: #fdd3e1;

// count value
$count-color: #111111;
$count-color-value: 10%;

// language set.
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
// https://picturepan2.github.io/spectre/
$lang-sys-win: 'system-ui'!default;
$lang-sys-apple: -apple-system, BlinkMacSystemFont!default;
$lang-sys-linux: Oxygen, Cantarell, Ubuntu!default;
$lang-sys-android: 'Roboto Mono', Roboto!default;

$lang-basis: $lang-sys-win, $lang-sys-apple, $lang-sys-linux, $lang-sys-android!default;

$lang-hans: $lang-basis, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei'!default;
$lang-hant: $lang-basis, 'PingFang TC', 'Hiragino Sans CNS', 'Microsoft JhengHei'!default;
$lang-jp: $lang-basis, 'Hiragino Sans', 'Hiragino KaKu Gothic Pro', 'Yu Gothic', YuGothic, Meiryo!default;
$lang-kr: $lang-basis, 'Malgun Gothic'!default;
$lang-en: $lang-basis, 'Segoe UI', Menlo, Courier, monospace!default;
$lang-fr: null;
$lang-ru: null;
$lang-r2l: null;

// CJK
$lang-cjk: $lang-basis, $lang-hans!default;
$lang-cjk-old: $lang-basis, $lang-hant !default;
$lang-cjk-jp: $lang-basis, $lang-jp!default;
$lang-cjk-kr: $lang-basis, $lang-kr!default;
// 字母方式
$lang-abc: $lang-basis, $lang-en!default;
$lang-abc-alpha: $lang-basis, $lang-fr!default;
$lang-abc-sign: $lang-basis, $lang-ru!default;
// 右起左书
$lang-wr: $lang-basis, $lang-r2l!default;

// 字定义语言
$sp: KaiTi, SimKaiti!default;
$lang-sp: $sp, $lang-basis!default;