// Basic setting.
html{
  font-family: $font-system-family;
}
body{
  margin: 0 auto;
  font-size: .9rem;
  line-height: 1.2rem;
}

a{
  color: $link;
  outline: none;
  text-decoration: none;

  &:focus{}
  &:hover{}
  &:active{}
  &:visited{color: darken($link, 33);}
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: $header;
  font-weight: 500;
  line-height: 1.2rem;
  margin-top: .3rem;
  margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
  font-weight: 500;
}

.header{
  font-weight: 500;
}

p{}

span{}

// profesia tag
abbr[title]{}

ruby{
  rt{}
}

kbd{
  padding: .15rem;
  color: $white;
  background-color: $drak;
  border-radius: .1rem;

  &::before{
    content: '🕹 ';
  }
}

mark{
  padding: .15rem;
  background-color: $mark-color;
  color: lighten($mark-color, 30);
  border-bottom: .1rem solid darken($mark-color, 30);
  border-radius: .1rem;
}

code{
  padding: .15rem;
  background-color: $code-color;
  color: lighten($code-color, 30);
  border-radius: .1rem;
}

time{
  word-spacing: .3rem;
  
  &::before{
    content: '⌚ ';
  }
}

// https://www.php.cn/css-tutorial-410902.html
samp{
  font-size: .7rem;
  word-spacing: .3rem;
}

sup{}
sub{}

b{}

s,
del{}

u,
ins{}

i,
em,
var,
cite{font-style: italic;}

blockquote{}

// list
// https://developer.mozilla.org/zh-CN/docs/Web/CSS/list-style-type
ul,
ol{
  li{list-style-type: circle;}
}

dl{
  dt{}
  dd{}
}