// 默认值（尺寸、色彩、默认字体）

$version: "0.0.1";

// 默认彩虹
$red: #f01b2d;
$orange: #;
$yellow: #fdb933;
$green: #008573;
$dark: #1db0b8;
$blue: #2e619e;
$purple: #6f599c;
$black: #0f0f0f;
$white: #f9f9f9;
$gray: #e0e0e0;

$default: ;

$mathColor: #111111;

// 块
$pic:;