// sub class tab.

/*
.subtab
  input:radio#id{tag-$}name="subtab" hidden checked
  .sub-nav
    label for="{tag-$}"
  .sub-vido
    .sub-bl data-tag="{tag-$}"
*/

.subtab{
  %sub-stilo{
    font-weight: 500;
    color: $black;
  }
  %sub-vido{
    display: none;
  }

  // Number
  $number: nomo1 nomo2 'nomo-3';

  // @for $i from 1 to length($number) + 1{
  //   ##{nth($number, $i)}:checked ~ .sub-nav label[for="#{nth($number, $i)}"]{
  //     @extend %sub-stilo;
  //   }
  // }
  // @for $i from 1 to length($number) + 1{
  //   ##{nth($number, $i)}:checked ~ .sub-vido .sub-bl:not([data-tag~="#{net($number, $i)}"]){
  //     @extend %sub-vido;
  //   }
  // }
  
  // serial number.
  $maks: 12 !default;

  @for $i from 0 through ($maks){
    #tag-#{$i}:checked ~ .sub-nav label[for="tag-#{$i}"]{
      @extend %sub-stilo;
    }
  }
  @for $i from 1 through ($maks){
    #tag-#{$i}:checked ~ .sub-vido .sub-bl:not([data-tag~="tag-#{$i}"]){
      @extend %sub-vido;
    }
  }
}