// reminder
.tips,
[data-tip]{
  &::after{
    content: attr(data-tip);
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .3rem;
    font-size: .9rem;
    line-height: 1.2rem;
    border-radius: .3rem;
    border: 1px solid $gray;
    background-color: $black;
    transform: translateY(0%);
    position: absolute;
    opacity: 0;
    transition: opacity .5s, transform .5s;
  }
  &:hover::after{
    opacity: 1;
    transform: translateY(-120%);
  }
}